<div>
    <div class="bg-white shadow-md rounded-lg my-2 px-2 py-4 gap-4 flex flex-col mx-1">
        <div class="flex flex-row gap-3">
            <img src="/assets/images/sample/profile_image.png" class="h-10 w-10" alt="image" />
            <div (click)="openPostModal()" class="cursor-pointer bg-gray-100 h-10 pl-5 rounded-full text-md placeholder:text-gray-500 flex-1 flex items-center hover:bg-gray-200">
                    <p class="text-md font-thin text-gray-800">What's on your mind, Zikri?</p>
            </div>
        </div>
        <hr />
        <div class="flex flex-row justify-around">
            <div
                class="cursor-pointer flex flex-1 flex-row hover:bg-gray-200 px-10 py-2 rounded-md gap-1 items-center justify-center">
                <img src="/assets/images/icons/ic_post_video.png" class="w-5 h-4" alt="">
                <p class="text-sm text-nowrap">Live video</p>
            </div>
            <div
                class="cursor-pointer flex flex-1 flex-row hover:bg-gray-200 px-10 py-2 rounded-md gap-1 items-center justify-center">
                <img src="/assets/images/icons/ic_post_image.png" class="w-5 h-4" alt="">
                <p class="text-sm text-nowrap">Photo/Video</p>
            </div>
            <div
                class="cursor-pointer hidden sm:flex sm:flex-1 flex-row hover:bg-gray-200 px-10 py-2 rounded-md gap-1 items-center justify-center">
                <img src="/assets/images/icons/ic_post_emoticon.png" class="w-4 h-4" alt="">
                <p class="text-sm text-nowrap">Feeling/Activity</p>
            </div>
        </div>
    </div>

</div>