<div class="mx-2">
    <div class="flex flex-col gap-4 px-2">
        <p class="my-2 font-light">Sponsored</p>
        <div class="cursor-pointer flex flex-row gap-2 items-center">
            <img src="/assets/images/sample/sponsored_1.png" class="w-16 h-16 lg:w-28 lg:h-28" alt="">
            <div class="flex-1">
                <p class="font-bold text-sm">Datacamp.com</p>
                <p class="text-xs">dapatkan kelas menarik</p>
            </div>
        </div>
        <div>
            <div class="cursor-pointer flex flex-row gap-2 items-center">
                <img src="/assets/images/sample/sponsored_2.png" class="w-16 h-16 lg:w-28 lg:h-28" alt="">
                <div class="flex-1">
                    <p class="font-bold text-sm">Datacamp.com</p>
                    <p class="text-xs">dapatkan kelas menarik</p>
                </div>
            </div>
        </div>
    </div>
</div>