<div class="flex px-1 flex-col gap-2">
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2 rounded-md cursor-pointer mt-2">
        <div class="h-10 w-10 flex justify-center items-center">
            <img src="/assets/images/sample/profile_image.png" class="h-8 w-8" alt="image" />
        </div>
        <p class="font-normal text-sm">Zikri Akmal Santoso</p>
    </div>
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2  rounded-md cursor-pointer">
        <div class="h-10 w-10 flex justify-center items-center">
            <img src="/assets/images/icons/ic_friends.png" class="h-6" alt="image" />
        </div>
        <p class="font-normal text-sm">{{'Friends (22 Online)'}}</p>
    </div>
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2  rounded-md cursor-pointer">
        <div class="h-10 w-10 flex justify-center items-center">
            <img src="/assets/images/icons/ic_history.png" class="h-6" alt="image" />
        </div>
        <p class="font-normal text-sm">{{'Memories'}}</p>
    </div>
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2  rounded-md cursor-pointer">
        <div class="h-10 w-10 flex justify-center items-center">
            <img src="/assets/images/icons/ic_save.png" class="h-6" alt="image" />
        </div>
        <p class="font-normal text-sm">{{'Saved'}}</p>
    </div>
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2  rounded-md cursor-pointer">
        <div class="h-10 w-10 flex justify-center items-center">
            <img src="/assets/images/icons/ic_group.png" class="h-6" alt="image" />
        </div>
        <p class="font-normal text-sm">{{'Groups'}}</p>
    </div>
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2  rounded-md cursor-pointer">
        <div class="h-10 w-10 flex justify-center items-center">
            <img src="/assets/images/icons/ic_vid.png" class="h-6" alt="image" />
        </div>
        <p class="font-normal text-sm">{{'Video'}}</p>
    </div>
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2  rounded-md cursor-pointer">
        <div class="h-10 w-10 flex justify-center items-center">
            <img src="/assets/images/icons/ic_market.png" class="h-6" alt="image" />
        </div>
        <p class="font-normal text-sm">{{'Marketplace'}}</p>
    </div>
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2  rounded-md cursor-pointer">
        <div class="h-10 w-10 flex justify-center items-center">
            <img src="/assets/images/icons/ic_doc_time.png" class="h-6" alt="image" />
        </div>
        <p class="font-normal text-sm">{{'Feed'}}</p>
    </div>
    <div class="flex flex-row gap-2 items-center hover:bg-gray-200 px-2  rounded-md cursor-pointer">
        <div class="h-10 w-10  flex justify-center items-center">
            <div class="rounded-full bg-gray-300 h-8 w-8  flex justify-center items-center">
                <img src="/assets/images/icons/ic_chevron_bottom.png" class="h-[7px]" alt="image" />
            </div>
        </div>
        <p class="font-normal text-sm">{{'See more'}}</p>
    </div>
    <hr class="mx-2" />
</div>