<div class="grid grid-rows-[4fr_1fr] h-screen ">
    <div class="bg-slate-100">
        <div class="container mx-auto px-10  md:px-40 flex justify-center">
            <form>
                <p class="pt-[112px] text-blue-600 text-5xl  font-bold text-center my-5">facebook</p>
                <div class=" flex flex-col gap-3 bg-white shadow-lg rounded-md p-5 py-10  md:w-[350px]">
                    <div>
                        <input type="username" autocomplete="username" placeholder="Username/Email Address"
                            class="border rounded-md px-2 py-2 w-full" />
                    </div>
                    <div>
                        <input type="password" autocomplete="current-password" placeholder="Passwords"
                            class="border rounded-md px-2 py-2 w-full" />
                    </div>
                    <button (click)="goToHome()" type="button" class="bg-blue-500 hover:bg-blue-400 py-2 rounded-md">
                        <p class="text-white text-sm">Log In</p>
                    </button>
                    <p class="text-center cursor-pointer text-blue-600 text-xs">Forgotten password?</p>
                </div>
            </form>
        </div>
    </div>

    <div class="bg-white py-10">
        <div class="container mx-auto px-10 md:px-40">
            <p class="text-xs">English (UK) Bahasa Indonesia Basa Jawa Bahasa Melayu 日本語 العربية Français (France)
                Español 한국어</p>
        </div>
    </div>

</div>