<div class="bg-slate-100 grid grid-rows-1">
    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-x-10 gap-y-10 md:mx-10 md:py-[92px]">
        <div class="flex flex-col sm:px-0 md:px-20 mx-5 sm:mx-5 md:pt-36 pt-10 sm:pt-36">
            <p class="text-blue-500 text-5xl font-bold">facebook</p>
            <p class="bg-blue text-2xl font-medium">Facebook helps you connect and share with the people in your
                life.</p>
        </div>
        <div class="md:mt-20 sm:mx-5 mx-5">
            <div class="bg-white shadow-md rounded-md p-5  md:w-80 flex flex-col gap-3">
                <div>
                    <input type="email" autocomplete="email" placeholder="Email Address"
                        class="border rounded-md px-2 py-2 w-full" />
                </div>
                <div>
                    <input type="password" autocomplete="current-password" placeholder="Passwords"
                        class="border rounded-md px-2 py-2 w-full" />
                </div>
                <button class="bg-blue-500 py-2 rounded-md">
                    <p class="text-white">Log In</p>
                </button>
                <p class="text-center cursor-pointer text-blue-600 text-xs">Forgotten password?</p>
                <hr>
                <div class="flex items-center justify-center">
                    <button class="bg-green-500 py-2 rounded-md px-10">
                        <p class="text-white">Create New Account</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>