<div class="grid grid-rows-[4fr_1fr] h-screen ">
    <div class="bg-slate-100">
        <div class="container mx-auto px-10  md:px-40">
            <div class="grid md:grid-cols-2 gap-10 py-[72px]">
                <div class="flex flex-col">
                    <p class="pt-[112px] text-blue-500 text-5xl  font-bold text-center md:text-left">facebook</p>
                    <p class="bg-blue text-3xl font-medium text-center md:text-left">Facebook helps you connect and
                        share
                        with the people in your
                        life.</p>
                </div>
                <div class="md:mt-20">
                    <div class=" flex flex-col gap-3 bg-white shadow-lg rounded-md p-5 py-10  md:w-[350px]">
                        <div>
                            <input type="email" autocomplete="email" placeholder="Email Address"
                                class="border rounded-md px-2 py-2 w-full" />
                        </div>
                        <div>
                            <input type="password" autocomplete="current-password" placeholder="Passwords"
                                class="border rounded-md px-2 py-2 w-full" />
                        </div>
                        <button class="bg-blue-500 hover:bg-blue-400 py-2 rounded-md">
                            <p class="text-white text-sm">Log In</p>
                        </button>
                        <p class="text-center cursor-pointer text-blue-600 text-xs">Forgotten password?</p>
                        <hr>
                        <div class="flex items-center justify-center">
                            <button class="bg-green-500 hover:bg-green-400 py-2 rounded-md px-10">
                                <p class="text-white text-sm">Create New Account</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-10">
        <div class="container mx-auto px-10 md:px-40">
            <p class="text-xs">English (UK) Bahasa Indonesia Basa Jawa Bahasa Melayu 日本語 العربية Français (France)
                Español 한국어</p>
        </div>
    </div>

</div>